<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.order.mapper.OrderMapper">

    <insert id="insert"
            parameterType="com.finalProject.ali.order.domain.Order"
            useGeneratedKeys="true"
            keyProperty="orderId">
        INSERT INTO orders (
            user_id,
            total_amount,
            address_id,
            status,
            created_at
        )
        VALUES (
            #{userId},
            #{totalAmount},
            #{addressId},
            #{status},
            NOW()
        )
    </insert>


    <select id="findById"
            parameterType="long"
            resultType="com.finalProject.ali.order.domain.Order">
        SELECT *
        FROM orders
        WHERE order_id = #{orderId}
    </select>

    <select id="findByIdAndUser"
            resultType="com.finalProject.ali.order.domain.Order">
        SELECT *
        FROM orders
        WHERE   order_id = #{orderId}
            AND user_id = #{userId}
    </select>

    <select id="findMyOrders"
            parameterType="string"
            resultType="com.finalProject.ali.order.dto.OrderSummaryResponse">
        SELECT
            o.order_id            AS orderId,
            o.created_at          AS createdAt,
            o.total_amount        AS totalAmount,
            o.status              AS status,

            MIN(oi.product_name)  AS firstProductName,
            MIN(oi.option_summary) AS firstOptionSummary,
            COUNT(*)              AS itemCount

        FROM orders o
        JOIN order_item oi
            ON o.order_id = oi.order_id
        WHERE o.user_id = #{userId}
        GROUP BY o.order_id
        ORDER BY o.created_at DESC
    </select>

    <select id="findSupplierOrderItems"
            parameterType="string"
            resultType="com.finalProject.ali.order.dto.SupplierOrderItemResponse">

        SELECT
        oi.order_item_id    AS orderItemId,
        oi.order_id         AS orderId,
        o.created_at        AS orderedAt,
        o.user_id           AS buyerId,
        oi.product_name     AS productName,
        oi.option_summary   AS optionSummary,
        oi.quantity         AS quantity,
        oi.unit_price       AS unitPrice,
        o.status            AS orderStatus,
        oi.supplier_status   AS supplierStatus

        FROM order_item oi
        JOIN orders o
        ON oi.order_id = o.order_id
        JOIN sku s
        ON oi.sku_id = s.sku_id
        JOIN products p
        ON s.product_id = p.product_id

        WHERE p.supplier_id = #{supplierId}
        ORDER BY o.created_at DESC
    </select>

    <update id="updateTotalAmount">
        UPDATE orders
        SET total_amount = #{totalAmount}
        WHERE order_id = #{orderId}
    </update>

    <update id="updateStatus">
        UPDATE orders
        SET status = #{status}
        WHERE order_id = #{orderId}
    </update>



</mapper>
