<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.order.mapper.OrderMapper">

    <insert id="insert"
            parameterType="com.finalProject.ali.order.domain.Order"
            useGeneratedKeys="true"
            keyProperty="orderId">
        INSERT INTO orders (
            user_id,
            total_amount,
            address_id,
            status,
            created_at
        )
        VALUES (
            #{userId},
            #{totalAmount},
            #{addressId},
            #{status},
            NOW()
        )
    </insert>


    <select id="findById"
            parameterType="long"
            resultType="com.finalProject.ali.order.domain.Order">
        SELECT *
        FROM orders
        WHERE order_id = #{orderId}
    </select>

    <select id="findByIdAndUser"
            resultType="com.finalProject.ali.order.domain.Order">
        SELECT *
        FROM orders
        WHERE   order_id = #{orderId}
            AND user_id = #{userId}
    </select>
    


    <select id="findMyOrders"
            parameterType="string"
            resultType="com.finalProject.ali.order.dto.OrderSummaryResponse">
        SELECT
            order_id        AS orderId,
            total_amount    AS totalAmount,
            status          AS status,
            created_at      AS createdAt
        FROM orders
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <update id="updateTotalAmount">
        UPDATE orders
        SET total_amount = #{totalAmount}
        WHERE order_id = #{orderId}
    </update>

    <update id="updateStatus">
        UPDATE orders
        SET status = #{status}
        WHERE order_id = #{orderId}
    </update>



</mapper>
