.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.product-card {
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: .15s;
}

.product-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}

.product-card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.product-card {
    text-decoration: none;
    color: inherit;
}


.info {
    padding: 12px;
}

.title {
    font-size: 14px;
    height: 36px;
    overflow: hidden;
}

.meta {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.moq {
    font-size: 12px;
    color: #888;
}

.custom {
    font-size: 12px;
    color: #ff5000;
    font-weight: 600;
}

.category-tabs {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #eee;
    margin: 20px 0 30px;
}

.category-tabs a {
    padding: 10px 4px;
    font-size: 15px;
    color: #666;
    text-decoration: none;
}

.category-tabs a.active {
    color: #000;
    font-weight: 600;
    border-bottom: 2px solid #000;
}

.custom {
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 4px;
    background: #f0f0f0;
}

.custom.disable {
    background: #eee;
    color: #999;
}

.time-sale-badge {
    display: inline-block;
    background: #ffecec;
    color: #e60023;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 8px;
    border-radius: 6px;
    margin-bottom: 6px;
}

.price-original {
    text-decoration: line-through;
    color: #999;
    font-size: 13px;
}

.price-discounted {
    color: #e60023;
    font-size: 18px;
    font-weight: 800;
}

.price-normal {
    font-size: 16px;
    font-weight: 700;
    color: #222;
}

.price-box {
    margin-top: 6px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #e60023;
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding: 4px 8px;
    border-radius: 6px;
}
