<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.chat.dao.ChatDAO">
    <insert id="insertChat" parameterType="com.finalProject.ali.chat.dto.ChatDTO"
            useGeneratedKeys="true" keyProperty="chatId">
        INSERT INTO chat (room_id, sender_id, message, chat_at)
        VALUES (#{roomId}, #{senderId}, #{message}, NOW())
    </insert>

    <select id="findChatsByRoomId" resultType="com.finalProject.ali.chat.dto.ChatDTO">
        SELECT
        chat_id AS chatId,
        room_id AS roomId,
        sender_id AS senderId,
        message,
        chat_at AS chatAt
        FROM chat
        WHERE room_id = #{roomId}
        ORDER BY chat_id ASC
    </select>

    <select id="findLastChatIdByRoomId" resultType="long">
        SELECT COALESCE(MAX(chat_id), 0)
        FROM chat
        WHERE room_id = #{roomId}
    </select>
</mapper>
