<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.cart.mapper.CartItemMapper">
    <select id="findByCartId" resultType="com.finalProject.ali.cart.domain.CartItem">
        SELECT *
        FROM cart_item
        WHERE cart_id = #{cartId}
    </select>
    
    <select id="findByCartIdAndProductIdAndSkuId" resultType="com.finalProject.ali.cart.domain.CartItem">
        SELECT *
        FROM cart_item
        WHERE cart_id = #{cartId}
            AND product_id = #{productId}
            AND sku_id = #{skuId}
        LIMIT 1
    </select>
    
    <insert id="insert">
        INSERT INTO cart_item (cart_item_id, cart_id, product_id, sku_id, quantity)
        VALUES (#{cartItemId}, #{cartId}, #{productId}, #{skuId}, #{quantity})
    </insert>

    <update id="updateQuantity">
        UPDATE cart_item
        SET quantity = #{quantity}
        WHERE cart_item_id = #{cartItemId}
    </update>
    
    <delete id="deleteById">
        DELETE FROM cart_item
        WHERE cart_item_id = #{cartItemId}
    </delete>

    <delete id="deleteByCartIdAndSkuId">
        DELETE FROM cart_item
        WHERE cart_id = #{cartId} AND sku_id = #{skuId}
    </delete>

    <select id="findCartItemViews"
            resultType="com.finalProject.ali.cart.dto.CartItemViewResponse">
        SELECT
            ci.cart_item_id,
            ci.product_id,
            p.product_name,
            ci.sku_id,
            ci.quantity,
            (
                SELECT pi.image_path
                FROM product_image pi
                WHERE pi.product_id = p.product_id
                AND pi.image_type = 'THUMB'
                ORDER BY pi.sort_order ASC, pi.image_id ASC
                LIMIT 1
            ) AS thumbPath,
            GROUP_CONCAT(
                CONCAT(po.option_name, ': ', pov.option_value)
                ORDER BY pov.sort_order
                SEPARATOR ' / '
            ) AS option_summary
        FROM cart_item ci
        JOIN products p
            ON ci.product_id = p.product_id
        LEFT JOIN option_value_sku ovs
            ON ci.sku_id = ovs.sku_id
        LEFT JOIN product_option_value pov
            ON ovs.option_value_id = pov.option_value_id
        LEFT JOIN product_option po
            ON pov.option_id = po.option_id
        WHERE ci.cart_id = #{cartId}
        GROUP BY
            ci.cart_item_id,
            ci.product_id,
            p.product_name,
            ci.sku_id,
            ci.quantity
    </select>

</mapper>
