<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>상품 리스트</title>
    <link rel="stylesheet" href="/products/css/products.css">
    <link rel="stylesheet" href="/main/css/main-header.css">
    <link rel="stylesheet" href="/main/css/common.css">
</head>
<body>
<div th:replace="layout/mainHeader :: mainHeader"></div>

<h2 class="page-title">전체 상품</h2>

<div class="category-tabs">

    <a th:href="@{/products/list(custom=${custom})}"
       th:classappend="${category == null} ? 'active' : ''">
        전체
    </a>

    <a th:each="c : ${categories}"
       th:href="@{/products/list(category=${c.categoryId}, custom=${custom})}"
       th:text="${c.categoryName}"
       th:classappend="${category == c.categoryId} ? 'active' : ''">
        카테고리명
    </a>

</div>

<div class="product-grid" id="productGrid">
    <a class="product-card" th:each="p : ${products}" th:href="@{/products/{id}(id=${p.productId})}">
        <!-- 이미지 (임시) -->
        <img th:src="@{|https://picsum.photos/300?random=${p.productId}|}"
             alt="상품 이미지">

        <div class="info">
            <p class="title" th:text="${p.productName}"></p>

            <div class="meta">
                <p class="price" th:if="${p.minPrice != null}">
                    ₩
                    <span th:text="${#numbers.formatInteger(p.minPrice, 3, 'COMMA')}"></span>
                    ~
                    ₩
                    <span th:text="${#numbers.formatInteger(p.maxPrice, 3, 'COMMA')}"></span>
                </p>

                <p class="price" th:if="${p.minPrice == null}">
                    가격 문의
                </p>

                <span class="custom"
                      th:if="${p.isCustomizable == 1}">
                    커스터마이징 가능
                </span>
                <span class="custom" th:if="${p.isCustomizable == 0}">커스텀 불가</span>
            </div>
        </div>
    </a>
</div>

<script src="/products/js/products.js"></script>
</body>
</html>
