<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.supplier_mypage.product.dao.ProductDAO">

    <select id="findBySupplierId"
            resultType="com.finalProject.ali.supplier_mypage.product.dto.ProductDTO">
        SELECT product_id      AS productId,
            category_id     AS categoryId,
            supplier_id     AS supplierId,
            product_name    AS productName,
            description,
            is_customizable AS isCustomizable,
            moq,
            created_at      AS createdAt,
            updated_at      AS updatedAt,
            status AS status
        FROM products
        WHERE supplier_id = #{supplierId}
        ORDER BY product_id DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="productId" keyColumn="product_id">
        INSERT INTO products (
            category_id,
            supplier_id,
            product_name,
            description,
            is_customizable,
            moq,
            created_at,
            updated_at
        ) VALUES (
                     #{categoryId},
                     #{supplierId},
                     #{productName},
                     #{description},
                     #{isCustomizable},
                     #{moq},
                     #{createdAt},
                     #{updatedAt}
                 )
    </insert>


    <select id="findById"
            resultType="com.finalProject.ali.supplier_mypage.product.dto.ProductDTO">
        SELECT
            product_id      AS productId,
            category_id     AS categoryId,
            supplier_id     AS supplierId,
            product_name    AS productName,
            description,
            is_customizable AS isCustomizable,
            moq,
            created_at      AS createdAt,
            updated_at      AS updatedAt,
            status AS status
        FROM products
        WHERE product_id = #{productId}
    </select>

    <update id="update">
        UPDATE products
        SET
            category_id = #{categoryId},
            product_name = #{productName},
            description = #{description},
            is_customizable = #{isCustomizable},
            moq = #{moq},
            updated_at = #{updatedAt}
        WHERE product_id = #{productId}
    </update>

    <update id="updateStatus">
        UPDATE products
        SET
            status = #{status},
            updated_at = #{updatedAt}
        WHERE product_id = #{productId}
    </update>

</mapper>
