<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.product.dao.CustomOrderSheetDAO">

    <insert id="insert">
        INSERT INTO custom_order_sheet
        (product_id, inquiry_id, sku_id, quantity, unit_price, options_text, status)
        VALUES
            (#{productId}, #{inquiryId}, #{skuId}, #{quantity}, #{unitPrice}, #{optionsText}, #{status})
    </insert>

</mapper>
