<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.mypage.supplier.product.dao.ProductDAO">

    <select id="findBySupplierId"
            resultType="com.finalProject.ali.mypage.supplier.product.dto.ProductDTO">
        SELECT
            product_id      AS productId,
            category_id     AS categoryId,
            supplier_id     AS supplierId,
            product_name    AS productName,
            description,
            is_customizable AS isCustomizable,
            created_at      AS createdAt,
            updated_at      AS updatedAt,
            status          AS status
        FROM products
        WHERE supplier_id = #{supplierId}
        ORDER BY product_id DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="productId" keyColumn="product_id">
        INSERT INTO products (
            category_id,
            supplier_id,
            product_name,
            description,
            is_customizable,
            created_at,
            updated_at
        ) VALUES (
                     #{categoryId},
                     #{supplierId},
                     #{productName},
                     #{description},
                     #{isCustomizable},
                     #{createdAt},
                     #{updatedAt}
                 )
    </insert>

    <select id="findById"
            resultType="com.finalProject.ali.mypage.supplier.product.dto.ProductDTO">
        SELECT
            product_id      AS productId,
            category_id     AS categoryId,
            supplier_id     AS supplierId,
            product_name    AS productName,
            description,
            is_customizable AS isCustomizable,
            created_at      AS createdAt,
            updated_at      AS updatedAt,
            status          AS status
        FROM products
        WHERE product_id = #{productId}
          AND supplier_id = #{supplierId}
    </select>

    <update id="update">
        UPDATE products
        SET
            category_id      = #{product.categoryId},
            product_name     = #{product.productName},
            description      = #{product.description},
            is_customizable  = #{product.isCustomizable},
            updated_at       = #{product.updatedAt}
        WHERE product_id  = #{product.productId}
          AND supplier_id = #{supplierId}
    </update>

    <update id="updateStatus">
        UPDATE products
        SET
            status     = #{status},
            updated_at = #{updatedAt}
        WHERE product_id  = #{productId}
          AND supplier_id = #{supplierId}
    </update>

</mapper>
