<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="pwForm">
    <div>
        <label>현재 비밀번호:</label>
        <input type="password" id="currentPassword" required>
    </div>
    <div>
        <label>새 비밀번호:</label>
        <input type="password" id="newPassword" required>
    </div>
    <div>
        <label>새 비밀번호 확인:</label>
        <input type="password" id="confirmPassword" required>
    </div>
    <button type="button" onclick="submitPassword()">비밀번호 변경</button>
    <a href="#" onclick="history.back(); return false;">취소</a>
</form>

<script src="/user/js/update_password.js"></script>
</body>
</html>