<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.checkout.mapper.CheckoutMapper">
    <select id="findItemInfo"
            parameterType="string"
            resultType="com.finalProject.ali.checkout.dto.CheckoutItem">

        SELECT
            s.sku_id       AS skuId,
            s.product_id   AS productId,
            p.product_name AS productName,
            (
                SELECT pi.image_path
                FROM product_image pi
                WHERE pi.product_id = p.product_id
                AND pi.image_type = 'THUMB'
                ORDER BY pi.sort_order ASC, pi.image_id ASC
                LIMIT 1
            ) AS thumbPath,
            GROUP_CONCAT(
                CONCAT(po.option_name, ': ', pov.option_value)
                ORDER BY pov.sort_order
                SEPARATOR ' / '
            ) AS optionSummary
        FROM sku s
        JOIN products p
            ON s.product_id = p.product_id
        LEFT JOIN option_value_sku ovs
            ON s.sku_id = ovs.sku_id
        LEFT JOIN product_option_value pov
            ON ovs.option_value_id = pov.option_value_id
        LEFT JOIN product_option po
            ON pov.option_id = po.option_id
        WHERE s.sku_id = #{skuId}
        GROUP BY
            s.sku_id,
            s.product_id,
            p.product_name

    </select>

</mapper>
