<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.product.dao.ProductDAO">
    <select id="productList"
            resultType="com.finalProject.ali.product.dto.ProductDTO">

        SELECT
        p.product_id,
        p.category_id,
        p.supplier_id,
        p.product_name,
        p.description,
        p.is_customizable,
        p.created_at,
        p.updated_at,

        pr.min_price AS minPrice,
        pr.max_price AS maxPrice

        FROM products p

        LEFT JOIN (
        SELECT
        s.product_id,
        MIN(sp.price) AS min_price,
        MAX(sp.price) AS max_price
        FROM sku s
        JOIN sku_price sp
        ON sp.sku_id = s.sku_id
        WHERE s.sku_id = (
        SELECT MIN(s2.sku_id)
        FROM sku s2
        WHERE s2.product_id = s.product_id
        )
        GROUP BY s.product_id
        ) pr
        ON pr.product_id = p.product_id

        ORDER BY p.created_at DESC

    </select>


    <select id="productDetail"
            parameterType="long"
            resultType="com.finalProject.ali.product.dto.ProductDTO">
        SELECT
            p.product_id,
            p.category_id,
            p.supplier_id,
            p.product_name,
            p.description,
            p.is_customizable,
            p.created_at,
            p.updated_at,
            s.moq
        FROM products p
        LEFT JOIN sku s
        ON s.sku_id = (
        SELECT MIN(s2.sku_id)
        FROM sku s2
        WHERE s2.product_id = p.product_id
        )

        WHERE p.product_id = #{productId}
    </select>


    <select id="selectByCustom"
            resultType="com.finalProject.ali.product.dto.ProductDTO">
        SELECT
            p.product_id,
            p.category_id,
            p.product_name,
            p.description,
            p.is_customizable,
            p.created_at,
            p.updated_at,
            pr.min_price,
            pr.max_price
        FROM products p
        LEFT JOIN (
        SELECT
        s.product_id,
        MIN(CAST(REPLACE(sp.price, ',', '') AS UNSIGNED)) AS min_price,
        MAX(CAST(REPLACE(sp.price, ',', '') AS UNSIGNED)) AS max_price
        FROM sku s
        JOIN sku_price sp
        ON sp.sku_id = s.sku_id
        WHERE s.sku_id = (
        SELECT MIN(s2.sku_id)
        FROM sku s2
        WHERE s2.product_id = s.product_id
        )
        GROUP BY s.product_id
        ) pr
        ON pr.product_id = p.product_id
        WHERE p.is_customizable = #{isCustomizable}
        ORDER BY p.created_at DESC
    </select>

    <select id="selectByRootCategory"
            parameterType="string"
            resultType="com.finalProject.ali.product.dto.ProductDTO">

        WITH RECURSIVE category_tree AS (
        SELECT category_id
        FROM category
        WHERE category_id = #{categoryId}

        UNION ALL

        SELECT c.category_id
        FROM category c
        JOIN category_tree ct
        ON c.parent_id = ct.category_id
        )
        SELECT
        p.product_id,
        p.category_id,
        p.supplier_id,
        p.product_name,
        p.description,
        p.is_customizable,
        p.created_at,
        p.updated_at,

        pr.min_price AS minPrice,
        pr.max_price AS maxPrice

        FROM products p
        JOIN category_tree ct
        ON p.category_id = ct.category_id

        LEFT JOIN (
        SELECT
        s.product_id,
        MIN(sp.price) AS min_price,
        MAX(sp.price) AS max_price
        FROM sku s
        JOIN sku_price sp
        ON sp.sku_id = s.sku_id
        WHERE s.sku_id = (
        SELECT MIN(s2.sku_id)
        FROM sku s2
        WHERE s2.product_id = s.product_id
        )
        GROUP BY s.product_id
        ) pr
        ON pr.product_id = p.product_id

        ORDER BY p.created_at DESC

    </select>



    <select id="selectByCategoryAndCustom"
            resultType="com.finalProject.ali.product.dto.ProductDTO">
        WITH RECURSIVE cat_tree AS (
        SELECT category_id
        FROM category
        WHERE category_id = #{categoryId}

        UNION ALL

        SELECT c.category_id
        FROM category c
        JOIN cat_tree ct ON c.parent_id = ct.category_id
        )
        SELECT p.*
        FROM products p
        JOIN cat_tree ct ON p.category_id = ct.category_id
        WHERE p.is_customizable = #{isCustomizable}
        ORDER BY p.created_at DESC
    </select>


    <select id="selectRootCategories"
            resultType="com.finalProject.ali.product.category.dto.CategoryDTO">
        SELECT
        category_id,
        category_name
        FROM category
        WHERE parent_id IS NULL
        ORDER BY category_id
    </select>

    <select id="searchByKeyword"
            parameterType="string"
            resultType="com.finalProject.ali.product.dto.ProductDTO">

        SELECT
        p.product_id,
        p.category_id,
        p.supplier_id,
        p.product_name,
        p.description,
        p.is_customizable,
        p.created_at,
        p.updated_at,

        pr.min_price AS minPrice,
        pr.max_price AS maxPrice

        FROM products p

        LEFT JOIN (
        SELECT
        s.product_id,
        MIN(sp.price) AS min_price,
        MAX(sp.price) AS max_price
        FROM sku s
        JOIN sku_price sp
        ON sp.sku_id = s.sku_id
        WHERE s.sku_id = (
        SELECT MIN(s2.sku_id)
        FROM sku s2
        WHERE s2.product_id = s.product_id
        )
        GROUP BY s.product_id
        ) pr
        ON pr.product_id = p.product_id

        WHERE p.product_name LIKE CONCAT('%', #{keyword}, '%')

        ORDER BY p.created_at DESC

    </select>

    <select id="findByCategoryId"
            parameterType="string"
            resultType="com.finalProject.ali.product.dto.ProductDTO">

        SELECT
        p.product_id,
        p.product_name,
        p.category_id
        FROM products p
        WHERE p.category_id = #{categoryId}
        ORDER BY p.created_at DESC
        LIMIT 12

    </select>

</mapper>
