<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.products.dao.SkusDAO">
    <!-- SKU + 옵션값 조합(행 단위) -->
    <select id="findSkuRowsByProductId"
            parameterType="long"
            resultType="com.finalProject.ali.products.dto.SkuRowDTO">
        SELECT
            s.sku_id           AS skuId,
            s.product_id       AS productId,
            s.stock_quantity   AS stockQuantity,
            ovs.option_value_id AS optionValueId
        FROM sku s
            LEFT JOIN option_value_sku ovs
            ON ovs.sku_id = s.sku_id
        WHERE s.product_id = #{productId}
        ORDER BY s.sku_id
    </select>
</mapper>
