<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalProject.ali.product.dao.SkuDAO">
    <resultMap id="SkuDetailMap"
               type="com.finalProject.ali.product.dto.SkuDTO">
        <id property="skuId" column="sku_id"/>
        <result property="productId" column="product_id"/>
        <result property="stockQuantity" column="stock_quantity"/>
        <result property="optionSummary" column="option_summary"/>
    </resultMap>

    <select id="findSkuRowsByProductId"
            parameterType="long"
            resultType="com.finalProject.ali.product.dto.SkuRowDTO">
        SELECT
            s.sku_id           AS skuId,
            s.product_id       AS productId,
            s.stock_quantity   AS stockQuantity,
            ovs.option_value_id AS optionValueId
        FROM sku s
            LEFT JOIN option_value_sku ovs
            ON ovs.sku_id = s.sku_id
        WHERE s.product_id = #{productId}
        ORDER BY s.sku_id
    </select>

    <select id="findSkuByOptionValues"
            parameterType="map"
            resultType="com.finalProject.ali.product.dto.SkuDTO">

        SELECT
            s.sku_id        AS skuId,
            s.product_id    AS productId,
            s.stock_quantity AS stockQuantity,
            s.status,
            s.moq
        FROM sku s
        JOIN sku_option so
        ON s.sku_id = so.sku_id
        WHERE so.option_value_id IN
        <foreach collection="optionValueIds"
                 item="id"
                 open="("
                 close=")"
                 separator=",">
            #{id}
        </foreach>
        GROUP BY s.sku_id
        HAVING COUNT(DISTINCT so.option_value_id) = #{optionCount}
    </select>

    <select id="findProductDetailSkus"
            parameterType="long"
            resultMap="SkuDetailMap">
        SELECT
        s.sku_id,
        s.product_id,
        s.stock_quantity,
        GROUP_CONCAT(
        CONCAT(po.option_name, ': ', pov.option_value)
        ORDER BY po.option_name
        SEPARATOR ' / '
        ) AS option_summary
        FROM sku s
        LEFT JOIN option_value_sku ovs ON ovs.sku_id = s.sku_id
        LEFT JOIN product_option_value pov ON ovs.option_value_id = pov.option_value_id
        LEFT JOIN product_option po ON pov.option_id = po.option_id
        WHERE s.product_id = #{productId}
        GROUP BY s.sku_id
    </select>
</mapper>
